body, html{
  margin: 0;
  padding: 0;
}

body{
  font-size:20px;
  text-shadow: 1px 1px orange;
  font-family: times, 'times new roman', helvetica,serif;
  line-height:1.5em;
  color:#444;
  background:#fff;
  //background-image: url(css/marble.jpg);
}

textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 90%; height: 50px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  //background-image: url(css/aqua.jpg);
  font-family: inherit;
  font-size: inherit;
  font-size: 20px;
}


button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 1.5em 0;
  font-family: inherit;
  font-size: inherit;
  font-size: 20px;
}

select{
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 1.5em 0;
  font-family: inherit;
  font-size: inherit;
  font-size: 20px;

}



h2{
  font-size: 40px;
}

hr{
  height:10px;
  border: 10;
  width:87%;
  background-image: url(css/bg1.gif);

}
ul{
  width:95%;
  padding-left:30px;
}
li{

  word-wrap:break-word;
  list-style: none;
  overflow: visible;
  padding:30px;
  -moz-box-shadow:0 0 23px #bbb;
  -webkit-box-shadow:0 0 23px #bbb;
  box-shadow:0 0 23px #bbb;
  -webkit-border-top-left-radius:123px;
  -webkit-border-top-right-radius:123px;
  -webkit-border-bottom-right-radius:123px;
  -webkit-border-bottom-left-radius:123px;
  -moz-border-radius-bottomright:123px;
  -moz-border-radius-bottomleft:123px;
  -moz-border-top-left-radius:123px;
  -moz-border-top-right-radius:123px;
  border-top-left-radius:123px;
  border-top-right-radius:123px;
  border-bottom-right-radius:123px;
  border-bottom-left-radius:123px;
  left:-35px;

  width:100%;
  //overflow:hidden;
  position:relative;
  background:#fff;
  //background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  //background:-moz-linear-gradient(top,  #fff,  #eee);
}
#outbox{
  display:none;
}
#header{
  width:100%;
  text-align: center;
}

